<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <meta name="viewport" content="" />
        <meta name="description" content="电助！凉子，看到了吗！">
        <title>「日常」</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
        <link rel="canonical" href="http://yuuko.cn/">
    </head>
    <body>
        <div id="js-main"></div>
        <script src="<%=bundle%>"></script>
    </body>
</html>
